html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-container {
  display: flex;
}

img {
  width: 300px;
  height: 300px;
}
